# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff (if applicable)
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask instance folder
instance/
!instance/config.py

# Flask specific
gallerium.db

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Virtual environment
venv/
env/
.venv/
ENV/
env.bak/
venv.bak/

# Logs
logs/
*.log

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Jupyter Notebook
.ipynb_checkpoints

# Miscellaneous
*.swp
*~
.project
.pydevproject