# Dépendances Python
Flask
Flask-Login
Flask-WTF
Flask-SQLAlchemy
Flask-Migrate
psycopg2-binary
email-validator
Pillow
transformers
torch
spacy
python-dotenv
wordcloud
matplotlib
Flask-Mail
pytest
pytest-flask