# Dépendances Python
flask
flask-sqlalchemy
flask-login
flask-wtf
flask-mail
flask-migrate
psycopg2-binary
email-validator
Pillow
transformers
werkzeug
torch
spacy
python-dotenv
wordcloud
matplotlib
pytest
pytest-flask
langdetect
deep_translator
gunicorn